body, html {
    height: 100%;
}


.container {
    margin: auto;
}


.message {
    margin-left: 50px;
    color: #fff;
    background-color: rgb(2, 52, 117);
    border-radius: 10px 0px 10px 10px;
    padding: 10px;
}

.title {
    text-align: center;
}

.myMessage{
    margin-right: 50px;
    color: rgb(2, 52, 117);
    background-color: rgb(207, 207, 207);
    border-radius: 0px 10px 10px 10px;
    padding: 10px;
}

.messages {
    height: 320px;
    overflow: scroll; 
}

#icon {
    width: 20%;
}
